<?xml version="1.0" encoding="utf-8"?>
<manifest package="humazed.github.com.autismkidsgame"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".puzzle.ui.GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".puzzle.ui.ChoosePicActivity"
            android:label="@string/title_activity_choose_pic"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".draw.DrawActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name=".draw.provider.ImageProvider"
            android:authorities="humazed.github.com.provider.jigsaw"
            android:exported="false"/>

        <activity
            android:name=".draw.JigsawActivity"
            android:label="@string/app_name"
            android:parentActivityName=".draw.DrawActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".draw.DrawActivity"/>
        </activity>
        <activity
            android:name=".draw.JigsawHistoryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".draw.DrawActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".draw.DrawActivity"/>
        </activity>
        <activity
            android:name=".matching.MatchingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <service android:name=".puzzle.bgm.MusicServer"/>

        <activity android:name=".diff.DifferenceActivity">
        </activity>
    </application>

</manifest>